<%- include('./templates/head') %>
<body>
    <h1>Alquiler de vehiculos</h1>

    <%- include('./templates/nav') %>

    <h1>Servidor priv</h1>
    <section class="container_table">
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>cantidad en stock</th>
                <th>Actualmente en alquiler</th>
                <th>Actualmente libre</th>
                <th>Facturacion de cada modelo</th>
            </tr> 
            </thead>
            <tbody>
                <% datosVehiculos.forEach(vehiculo => { %>
                    <tr>
                        <td><%= vehiculo.nombre_modelo %></td>
                        <td><%= vehiculo.unidades_totales %></td>
                        <td><%= vehiculo.unidades_alquiladas %></td>
                        <td><%= (vehiculo.unidades_totales) - (vehiculo.unidades_alquiladas) %></td>
                        <td><%= vehiculo.maletas %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/formInsert">Añadir nuevo vehiculo</a>
    </section>
    
</body>